<template>
  <section class="container"> 
     
    <div class="box">
    <h1>{{chosenProduct.ProductName}}</h1>
    <h2 style="text-align: right;">€ {{chosenProduct.Price}}</h2>

<hr>
    <div class="left">
      <img v-for="(data,index) in chosenProduct.Images" :key="index" :src="'http://localhost:64258/'+data">
    </div>
    <div class="right"> <p><i>{{chosenProduct.Description}}</i></p>
    <h4>Details:</h4>
    <p>{{chosenProduct.Details}}</p>
    
</div>
   
    
</div>
  </section>

</template>

<script>

import axios from "axios"

export default {

  data(){
    return {

      //Voor testredenen wordt gewoon het eerste product an alle producten gedisplayed. 
      
      //chosenProduct: this.$store.state.product
    }
  },
  
  
    async asyncData({params}){
         let { data } = await axios.get("http://localhost:64258/umbraco/api/ProductsApi/GetProductById/" +params.id)
        // this.product = data
            return { chosenProduct : data}        
    }  
    
  // middleware: 'getProductById'
}
</script>

<style>

.box{
    width: 80%;
    margin:0 auto;
    padding: 10%; 
}
ul {
    list-style:none;    
}
ul > li {
    display: inline-block;
    margin-right: 20px;
}

.right * {
    margin:10px 0px;;
}
.left, .right {
    width:50%;
    float:left;
}
img{
  max-width: 50%;
  margin: 0 !important;
}

</style>
