<template>
  <section class="container"> 
        <div class="box">
   <h1>WowGo Boards</h1>
  </div>
  <hr>
    <div class="box">
      
      <div class="productThumbnail" v-for="item in boards" :key="item.Id">
          <img :src="'http://localhost:64258/'+item.Images[0]" style="max-width:100%;">
          <h1>{{item.ProductName}}</h1>
          <h3 style="text-align:right;">€ {{item.Price}}</h3>
          <hr>
          <p>{{item.Description}}</p>
          <nuxt-link :to="'/products/'+item.Id" class="buybutton">Buy product</nuxt-link>
      </div>
  </div>   
  </section>

</template>

<script>

export default {

   data(){
       return{
           boards: this.$store.state.products
       }
   },

   middleware: 'getProductsShort',
  
}
</script>

<style>

.box{
width: 80%;
margin:0 auto;
padding: 10%; 
}
ul {
    list-style:none;    
}
ul > li {
    display: inline-block;
    margin-right: 20px;
}
.productThumbnail{
    width: 30%; 
    min-width: 300px;
    display: inline-block;
    border:1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.buybutton{
    display: block;
    padding: 20px;
    background-color: rgb(50, 114, 209);
    color:white;
    border-radius: 5px;
    transition: 0.4s ease;
    text-align: center;
    text-decoration:none;
}
.buybutton:hover{   
    background-color: rgb(39, 94, 177);
}
.productThumbnail *{
    margin-bottom: 20px;
}
</style>
