<template>
  <section class="container"> 
        <div class="box">
   <h1>WowGo Boards</h1>
  </div>
  <hr>
    <div class="box">
      <p>{{this.boards}}</p>
  </div>     
  </section>

</template>

<script>

import axios from "axios"

export default {
    data(){
        return{
           
        }
    },
    async asyncData(){
         let { data } = await axios.get("http://localhost:64258/umbraco/api/ProductsApi/GetAllProducts")
            return { boards : data}        
    }  
}
</script>

<style>

.box{
width: 80%;
margin:0 auto;
padding: 10%; 
}
ul {
    list-style:none;    
}
ul > li {
    display: inline-block;
    margin-right: 20px;
}

</style>
